body{

    background:#F8F0E2;

    font-family:Arial, Helvetica, sans-serif;

}

.loginCadastro-card{

    width:100%;
    max-width:600px;

    border-radius:25px;

    border:1px solid #d7c0a4;

}

.logo-icon{
    width:150px;
    height:150px;
    object-fit:contain;
}

.form-control{

    height:60px;

}

.input-group-text{

    background:white;

}

.btn-loginCadastro {

    background:#8B5736;
    color:white;

    height:60px;

    border-radius:15px;

    margin-top: 10px;

    font-size:24px;
    font-weight:bold;

}

.btn-loginCadastro:hover{

    background:#74462b;
    color:white;

}

.esqueceu{

    color:#A76A39;

    text-decoration:none;

}

.esqueceu:hover{

    text-decoration:underline;

}

.cadastro-link{
    color:#8B5736;
    text-decoration:none;
    font-weight:600;
}

.cadastro-link:hover{
    text-decoration:underline;
}